/* Main centered container which has left and right panels as grid element with the column width specified. */
.container {
    margin: 0 auto;
    min-width: 50vw;
    max-width: 50rem;
    height: 98vh;
    display: grid;
    grid-template-columns: 300px minmax(500px, auto);
    overflow-x: scroll;
    overflow-y: scroll;
}

.left-panel {
    margin-inline-end: 1rem;
}

.left-panel ul {
    padding: 0;
}

.left-panel ul li {
    list-style: none;
    cursor: pointer;
    padding: 1vh 0.3rem;
}

.left-panel ul li:focus {
    outline: none;
}

.left-panel ul .selected{
    background-color: blue;
    color: white;
    border-radius: 0.3rem;
}

/* Each div element contains and img element and a paragraph element. They are displayed as flex items. */
.left-panel ul li div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Hiding text overflow for pararaph elements inside list items. */
.left-panel ul li div p {
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 4rem);
}

.left-panel ul li div img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 10%;
}

/* Right panel contains the image and title of the selected list item. They act as grid elements with the row heights specified. */
.right-panel {
    display: grid;
    grid-template-rows: 90vh auto;
}

.right-panel .object-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-block-end: 1rem;
}

.right-panel .object-title input {
    width: 100%;
    height: 50%;
    text-align: center;
    border-color: transparent;
    box-sizing: border-box;
}